@model IEnumerable<MVCAssignment3.Models.Entities.Person>
<h2 style="text-align: center;">List People</h2>

<a type="button" class="btn btn-success" asp-controller="Person" asp-action="Create">
    New
</a>

<div style="margin-top: 20px;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Birth Place</th>
                <th scope="col">Graduated</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>
                        <a class="text-reset text-decoration-none" asp-controller="Person" asp-action="Detail"
                        asp-route-id="@person.Id">
                            @person.FullName
                        </a>
                    </td>
                    <td>@person.Gender</td>
                    <td>@person.Dob</td>
                    <td>@person.PhoneNumber</td>
                    <td>@person.BirthPlace</td>
                    <td>@person.IsGraduated</td>
                    <td>
                        <a class="btn btn-info" asp-controller="Person" asp-action="Update" asp-route-id="@person.Id">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
